<a href="https://colab.research.google.com/github/eueid/pythonPlayground/blob/main/T%C3%A9cnicas_Avan%C3%A7adas_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = False
print(not x)

True

In [ ]:
x = []
print(bool(x))

False

In [ ]:
y = {}
print(bool(y))

False

In [ ]:
#definindo alguns valores iniciais
b = bytes([0x41, 0x42, 0x43, 0x44])
print(b)
s = "Isto é uma String"
print(s)
#  Concatenando uma String com um conjunto de bytes
print (s + b.decode('utf-8'))
# Transformando uma String num conjunto de bytes
print (s.encode('utf-32') + b)

b'ABCD'
Isto é uma String
Isto é uma StringABCD
b'\xff\xfe\x00\x00I\x00\x00\x00s\x00\x00\x00t\x00\x00\x00o\x00\x00\x00 \x00\x00\x00\xe9\x00\x00\x00 \x00\x00\x00u\x00\x00\x00m\x00\x00\x00a\x00\x00\x00 \x00\x00\x00S\x00\x00\x00t\x00\x00\x00r\x00\x00\x00i\x00\x00\x00n\x00\x00\x00g\x00\x00\x00ABCD'

In [ ]:
# Criação de templates

from string import Template as t
frase = "Você está assistindo {0} com {1}".format("Python Avançando", "Jéssica Temporal")
print(frase)

templ = t("Você está assistindo ${curso} com ${instrutora}")
frase_2 = templ.substitute(
      curso = 'Python Avançado',
      instrutora = 'Jéssica Temporal'
)
print(frase_2)

#Uso de dicionário
dados = {
    "curso": "Python Avançado",
    "instrutora": "Jessica Temporal"
}
frase_3 = templ.substitute(dados)
print(frase_3)

Você está assistindo Python Avançando com Jéssica Temporal
Você está assistindo Python Avançado com Jéssica Temporal
Você está assistindo Python Avançado com Jessica Temporal

In [ ]:
lista = [1, 2, 3, 0, 5, 6]
# Any retorna true se qualquer valor lista for true
print(any(lista))

# All retorna se TODOS forem TRUE
print(all(lista))

# Min retorna o menor valor e Max o maior
print(min(lista))
print(max(lista))

# Sum retorna a soma
print(sum(lista))

True
False
0
6
17

In [ ]:
# Usando iterados como enumerate, zip, iter, next

dias = ["Dom","Seg", "Ter", "Qua", "Qui", "Sex", "Sab"]
dias_en = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

i = 0
iterador_dias = iter(dias)
while i < 3:
    print(next(iterador_dias))
    i += 1
    
# Usando o iterador num arquivo .txt
with open ('./dados.txt', 'r', encoding='utf8') as a:
    for linha in iter(a.readline, ''): #Pulando uma casa
        print(linha)
        
#Usando iteração tradicional (range) sobre a lista dias
for numero in range(len(dias)):
    print(numero, dias[numero])   
    
# Usando enumerate. Útil para fazer manipulações de sequências 
for i, dia in

Dom
Seg
Ter
Essa é a linha 1

Essa é a linha 2

Essa é a linha 3

Essa é a linha 4

Essa é a linha 5

Essa é a linha 6

0 Dom
1 Seg
2 Ter
3 Qua
4 Qui
5 Sex
6 Sab

In [ ]:
# Usando enumerate. Útil para fazer manipulações de sequências 
for i, dia in enumerate(dias):
    print(i, dia)

0 Dom
1 Seg
2 Ter
3 Qua
4 Qui
5 Sex
6 Sab

In [ ]:
# Usando zip para combinar listas. Retorna uma tupla pra cada par de valores
for d in zip(dias, dias_en):
    print(d)

('Dom', 'Sun')
('Seg', 'Mon')
('Ter', 'Tue')
('Qua', 'Wed')
('Qui', 'Thu')
('Sex', 'Fri')
('Sab', 'Sat')

In [ ]:
# Combinando enumerate e zip
for i, d in enumerate(zip(dias, dias_en)):
    print(i ,d[0], "=", d[1], "em inglês")

0 Dom = Sun em inglês
1 Seg = Mon em inglês
2 Ter = Tue em inglês
3 Qua = Wed em inglês
4 Qui = Thu em inglês
5 Sex = Fri em inglês
6 Sab = Sat em inglês

In [ ]:
#Funções transformadoras
def primeiro_filtro(x):
    if x % 2 == 0:
        return False
    return True

def segundo_filtro(x):
    if x.isupper():
        return False
    return True

def quadrado(x):
    return x**2

def nota_para_conceito(x):
   if x >= 90:
     return "A"
   elif (x >= 80 and x < 90):
     return "B"
   elif (x >= 70 and x < 80):
     return "C"
   elif (x >= 65 and x < 70):
     return "D"
   else:
    return "F"
  
    

numeros = (1, 8, 4, 5, 13, 26, 381, 410, 58, 47)
letras = "abcDeFGHiJklmnoP"
notas = (81,89,94,78,61,66,99,74)

In [ ]:
# Usando filter para remover itens de uma listas
impares = list(filter(primeiro_filtro, numeros))
print(impares)

[1, 5, 13, 381, 47]

In [ ]:
# Usando filter para Strings
minusculas = list(filter(segundo_filtro, letras))
print(minusculas)

['a', 'b', 'c', 'e', 'i', 'k', 'l', 'm', 'n', 'o']

In [ ]:
# Usando map()
quadrados = list(map(quadrado, numeros))
print(quadrados)

[1, 64, 16, 25, 169, 676, 145161, 168100, 3364, 2209]

In [ ]:
notas = sorted(notas)
conceitos = list(map(nota_para_conceito, notas))
print(conceitos)

['F', 'D', 'C', 'C', 'B', 'B', 'A', 'A']

In [ ]:
import itertools as it

def condicao (x):
    pass

#Iterador cycle pode ser usado como o iter para iterar sobre uma lista
pessoas = ["Lucas", "Maria", "João"]
ciclo = it.cycle(pessoas)
i = 0
while i < 4:
    print(next(ciclo))
    i += 1

Lucas
Maria
João
Lucas

In [ ]:
contador = itertools.count(100, 10)
print(next(contador))
print(next(contador))

100
110

In [ ]:
# accumulate cria um iterador que acumula valores 

valores = [10,20,30,40,50,40,30]
acumulados = it.accumulate(valores, max)
print(list(acumulados))

In [ ]:
# uso da afunção chain para conectar listas
x = it.chain("ABCD", "1234")
print(list(x))

In [ ]:
# as funções dropwhile e takewhile vão retornar valores até que uma condição seja atingida
def condicao(x):
    return x < 40
    

print(list(it.dropwhile(condicao,valores))) # inverte a condicao
print(list(it.takewhile(condicao,valores))) # obedece a condicao

In [ ]:
  # Criando documentações
def minha_funcao(arg1, arg2=None):

 
 """Minha função que faz um print dos argumentos passados
   Params:
     arg1: primeiro argumento, algo interessante.
     arg2: segundo argumento, Default: None.
"""

 print(arg1, arg2)

print(minha_funcao.__doc__)

**Docstrings: Boas Práticas**



*   Use aspas triplas para delimitar docstrings
*   A primeira linha deve ser uma frase resumo da funcionalidade
*   Módulos: Liste classes importantes, funções e possíveis exceções
*   Classes: Liste métodos importantes

In [ ]:
def adicao(*args):
  return sum(args)

print(adicao(5,15,69,78,33))
valores = [5,15,69,78,33]
print(adicao(*valores))

In [ ]:
# Funções anonimas ou lambda
def c_f(t):
  return (t * 9/5) + 32

def f_c(t):
  return (t-32) * 5/9

c = [0,12,34,100]
f = [32,65,100,212]

print(list(map(f_c, f)))
print(list(map(c_f, c)))

# Usando lambda para converter as temperaturas

[0.0, 18.333333333333332, 37.77777777777778, 100.0]
[32.0, 53.6, 93.2, 212.0]

In [ ]:
# Funções anonimas ou lambda
def c_f(t):
  return (t * 9/5) + 32

def f_c(t):
  return (t-32) * 5/9

c = [0,12,34,100]
f = [32,65,100,212]

# Usando lambda para converter as temperaturas
print(list(map(lambda t: (t-32) * 5/9, f)))
print(list(map(lambda t: (t * 9/5) + 32, c)))

[0.0, 18.333333333333332, 37.77777777777778, 100.0]
[32.0, 53.6, 93.2, 212.0]

In [ ]:
# Argumentos nomeados
def f1 (arg1, arg2, *, suprimir_exceptions=False):
  print(arg1, arg2, suprimir_exceptions)

f1(1,2,suprimir_exceptions=True)

1 2 True